@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700&display=swap');

html[data-theme="light"] {
	--bg-color: #fefefe;
	--text-color: #333;
	--navbar-bg-color: #ededed;
	--navbar-text-color: #333;
	--li-hover-color: #ddd;
	--li-hover-box-shadow-color: #eee;
	--li-completed-text-color: teal;
	--li-action-color: rgba(0, 128, 128, 0.8);
	--li-action-hover-text-color: white;
	/* --input-button-bg-color: lightcoral; */
	/* --input-button-hover-color: #f06060; */

	--input-button-bg-color: black;
	--input-button-hover-color: #333;
	--input-button-hover-border-color: #333;
	--input-button-border: 3px solid black;
	--input-border-color: black;
	--input-border: none;
	
	
	
	/* --input-border-color: lightcoral; */
	--input-text-indicator-color: black;
	--input-placeholder-text-color: #ddd;
	--input-text-color: black;


	--stats-bg-color: black;
	--stats-text-color: var(--bg-color);
	/* --stats-container-border: 1px solid var(--bg-color); */
	--stats-border-radius: 5px;
	--stats-container-box-shadow: 1px 2px 3px #111; 
	
	
	
	--li-hover-text-color: rgb(46, 53, 53);
	--li-completed-hover-text-color: var(--text-color);
	--footer-link-color: blue;
	--input-bg-color: none;
	--navbar-box-shadow-color: #eee;
	--dark-switch-bg-color: lightcoral;
}

html[data-theme="dark"] {
	--bg-color: #333;
	--text-color: #fefefe;
	--navbar-bg-color: #222;
	--navbar-text-color: #eee;
	--li-hover-color: #444;
	--li-hover-box-shadow-color: #333;
	--li-completed-text-color: lightcoral;
	--li-action-color: lightcoral;
	--li-action-hover-text-color: black;
	--input-button-bg-color: var(--bg-color);
	--input-border-color: teal;
	--input-border: 2px solid var(--input-border-color);
	--input-text-indicator-color: white;
	--input-text-color: white;
	--input-button-hover-color: #009090;
	--input-button-border: 3px solid teal;
	--input-button-hover-border-color: var(--bg-color);
	--stats-bg-color: none;
	--stats-text-color: #ddd;
	--stats-container-border: 1px solid #ddd;
	--stats-border-radius: none;
	--li-hover-text-color: lightcoral;
	--li-completed-hover-text-color: var(--text-color);
	--footer-link-color: yellow;
	--input-bg-color: none;
	--navbar-box-shadow-color: #333;
	--dark-switch-bg-color: teal;
}

* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans Mono", monospace;
	min-height: 100vh;
	background: var(--bg-color);
	color: var(--text-color);
	/* transition: background 0.3s; */
	/* background-color: #d9afd9;
	background-image: linear-gradient(90deg, #d9afd9 0%, #97d9e1 100%); */
	display: grid;
	grid-template-rows: auto 1fr auto;
}


/* body::after {
  content: "";
  background: url(https://images.pexels.com/photos/372098/pexels-photo-372098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
